html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
}

/* ------------HEADER--------------*/

.header{
    width: 83%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35px;
    display: flex;
    position:fixed;
    background-color: rgb(249, 249, 251);
    z-index: 1;
    
}

.header-logo{
width: 45%;
}
.navbar{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    
}
.nav:hover{
    border-top: 3px solid rgb(255, 96, 51);
    padding-bottom: 3px;
}

a{
    font-family: 'Raleway', sans-serif;
    font-size: 140%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*----------------- block, block-content styling -----------------*/
.block{
    
    background-image: url(/media/background1.png);
   background-size: cover;
    
}

.block2{
    
    padding-top: 5%;
    background-image: url(/media/about-us-background.png);
    
    
}

.block3{
    padding: 10%;
    background-image: url(/media/services-bg.png);
    
}
.block4{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-image: url(/media/gallery-bg.png);
    
}
.block5{
    padding-top: 11%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-image: url(/media/sub-bg.png);
    
}
.block6{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-image: url(/media/blog-bg.png);
    
}
.block7{
    background-image: url(/media/contact-bg.png);
    background-size: cover;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    
}
#block-content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 18%;
    width: 25%;
}

#block2-content{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
   
    
}
.block2-text{
    padding-left: 20%;
    
}

#block3-content{
    display: flex;
    justify-content: space-around;
}

.buttons-services{
    width: 30%;
    padding-left: 10%;
}

.services-img{
    width: 50%;
    text-align: center;
    padding-left: 10%;
}
#services-img{
    position: relative;
}
.gallery-imgs-container{
    flex-direction: column;
   
}
.gallery-imgs-container2{
    display: flex;
    flex-direction: row;
}
.gallery-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    
}

.gallery-imgbox2{
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 2%;
}
.gallery-imgbox3{
    padding-left: 2%;
}
.gallery-imgbox4{
    padding-right: 1%;
}
.blog-header{
    text-align: center;
}
.blog-imgs{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    height: 13%;
}

.blog-imgbox1{
    padding-right: 1.5%;
    position: relative;
    
}
.blog-imgbox2{
    padding-right: 1.5%;
    position: relative;
}
.blog-imgbox3{
    position: relative;
}
.blog-img{
    width: 100%;
    height: auto;
    
}
.contact-main{
    display: flex;
    padding-top: 4%;
}
.contact-form{
    width: 40%;
    
}
.contact-infobox{
width: 40%;
padding-left: 18%;
}

.scroll{

    width: 100%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 4%;
}
/*---------------FOOTER----------------*/
.footer{
    display: flex;
    background-image: url(/media/bg-footer.png);
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* ---- paragraphs, h1 styling ---- */
#block-p{
    font-family: 'Raleway', sans-serif;
    font-size: 450%;
    font-weight: 900;
    margin-bottom: 0;
    
}
#block-p2{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

#block2-p{
    font-family: 'Raleway', sans-serif;
    font-size: 650%;
    font-weight: 900;
    margin-bottom: 0;
    color: white;
}
#block2-p2, #block2-p3{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: white;
    line-height: 1.8;
}

.block4-p{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 650%;
    color: black;
    text-align: center;
}
.block4-p2{
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
    color: black;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
}
.block5-p{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 250%;
    padding-bottom: 2%;
}
.block5-p2{
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
    padding-right: 50%;

}

.block6-p{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 650%;
    color: white;
    padding-bottom: 2%;
}
.block6-p2{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    line-height: 1.8;
}
.contact-p{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 650%;
    color: black;
    text-align: center;

}
.contact-p2{
    font-family: 'Raleway', sans-serif;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 2%;
    color: black;
    text-align: center;
    line-height: 1.8;
}

#service-text{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 650%;
    color: white;
    right: 15%;
    margin-top: 11%;
}
.blog-img1-p{
    position: absolute;
    background-image: url(/media/blog-day1-bg.png);
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 150%;
    font-weight: 900;
    width: 15%;
    height: 17%;
    text-align: center;
    border-radius:10% ;
    top: 10%;
    left: 10%;
}
.blog-img1-p2{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 130%;
    bottom: 20%;
    left: 7%;
    padding-right: 10%;
}
.blog-img1-p3{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 80%;
    bottom: 10%;
    left: 7%;
}
.blog-img2-p{
    position: absolute;
    background-image: url(/media/blog-day1-bg.png);
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 150%;
    font-weight: 900;
    width: 15%;
    height: 17%;
    text-align: center;
    border-radius:10% ;
    top: 10%;
    left: 10%;
}
.blog-img2-p2{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 130%;
    bottom: 20%;
    left: 7%;
    padding-right: 10%;
}
.blog-img2-p3{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 80%;
    bottom: 10%;
    left: 7%;
}
.blog-img3-p{
    position: absolute;
    background-image: url(/media/blog-day1-bg.png);
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 150%;
    font-weight: 900;
    width: 15%;
    height: 17%;
    text-align: center;
    border-radius:10% ;
    top: 10%;
    left: 10%;
}
.blog-img3-p2{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 130%;
    bottom: 20%;
    left: 7%;
    padding-right: 10%;
}
.blog-img3-p3{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 80%;
    bottom: 10%;
    left: 7%;
}
.contact-input4-label{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 90%;
    top: 6%;
    left: 3%;
}

.footer-p{
    font-size:100% ;
    font-family: 'Raleway', sans-serif;
    color: gray;
}
.footer-p2{
    font-family: 'Pacifico', cursive;
    color: lightgray;
    font-size: 170%;
}
.contact-info1a,.contact-info2a,.contact-info3a{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 130%;
}
.contact-info2a,.contact-info3a{
    padding-top: 3%;
}
.contact-info1b,.contact-info2b,.contact-info3b{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
}




/*---------------------------INPUTS BUTTONS BUTBOX STYLING --------------------------*/
.butbox{
    display: flex;
    padding-top: 4%;
    width:100%;
    height: 20%;
}
.but-services, .but2-services, .but3-services, .but4-services{
    background-color: white;
    border: none;
    box-shadow: 0px 3px 5px gray;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 150%;
    width: 75%;
    
}
.block-but{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 96, 51);
    font-size: 100%;
    font-weight:lighter;
    color: white;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    box-shadow: 2px 2px 5px gray;
}
.gallery-butbox{
    text-align: center;
    padding-top: 2%;
    
}
.gallery-button{
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(85, 133, 162);
    box-shadow: 0px 3px 5px gray;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 100%;
    

}
.icon-box{
    background-color: white;
    border-left: 1px solid black;
    padding: 7%;
    width: 10%;    
    box-shadow: 0px 3px 5px gray;
}
.sub-input-butbox{
    display: flex;
    padding-top: 2%;
    
}
.inputbox{
    border: 1px solid black;
    padding: 1%;
    width: 48%;
    box-sizing: content-box;
    
}
.sub-butbox{
padding-left: 3%;
}
.sub-input{
    
    width: 100%;
    box-sizing:border-box;
    border: none;
}
.sub-button{
    background-color: rgb(150, 185, 44);
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    padding: 20%;
    padding-left: 50%;
    padding-right: 50%;
    box-shadow: 0px 3px 5px gray;
    
}
.blog-butbox{
    text-align: center;
    padding-top: 3%;
}
.blog-button{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: rgb(247, 43, 59);
    border: none;
    font-weight: 100;
    font-size: 140%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;

}

.contact-inputbox2,.contact-inputbox3,.contact-inputbox4{
    padding-top: 3%;
}
.contact-inputbox3{
    padding-bottom: 3%;
}
.contact-inputbox4{
    padding-top: 0;
    height: 20rem;
    position: relative;
}
.contact-input{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 196, 196);
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    font-size: 90%;
    
}
.contact-input1{
    font-weight: 900;
    font-size: 100%;
}

.contact-input4{
    height: 100%;
}

.contact-input2,.contact-input3,.contact-input4{
    background-color: rgb(0, 196, 196, 0.5);
}

    

